body {
    background-image: url("../images/bg.jpg");
}
.icon_button {
    font-size: 13em;
}
.icon_button:hover {
    color: blue;
}
#music_icon {
    display:inline-block;
    width: 13em;
    height: 13em; 
    padding-right: 5em;
    padding-top: 12em;
}
#video_icon {
    display: inline-block;
    width: 13em;
    height: 13em;
    padding-left: 5em;
    padding-top: 12em;
}

