body {
	background-image: url("../images/music_bg.jpg");	
	background-size: cover;
}
.directory_list {
	position: relative;
	top: 10em;
	overflow: scroll;
	width: 50em;
	height: 40em;
	margin: auto;
}
.list_item {
	width: 90%;
	height: .5em;
	padding-bottom: 1em;
	background-color: #CCFF00;
	font-size: 2em;
	margin: auto;
	margin-bottom: .1em;
	border-radius: 25px;
	text-align: center;
}
.list_item:hover {
	background-color: #50BFE6;	
}
.play_bar {
	position: relative;
	top: .5em;
	font-size: 7em;
	color: #0048BA;
}
.play_bar_item:hover {
	color: #FF007C;
}
.step-back {
	position: relative;
	left: -1em;
}
.step-forwards {
	position: relative;
	right: -1em;
}



