<!DOCTYPE HTML>
<html>
    <head>
        <title>Clay: Home</title>
        <script src="js/node_modules/jquery/dist/jquery.min.js"></script>
        <script src="js/index.js"></script>
        <link rel="stylesheet" href="font-awesome-4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="css/index.css">
    </head>
    <body>
        <center>
            <h1>Clays Home Server</h1>
            <div id="music_icon">
                <i class="fa fa-music icon_button"></i> 
            </div>
            <div id="video_icon">
                <i class="fa fa-film icon_button"></i>
            </div>
        </center>
    </body>
</html>
