<!DOCTYPE HTML>
<head>
	<title>Clay: Music</title>
    <script src="js/node_modules/jquery/dist/jquery.min.js"></script>
	<script src="js/music.js"></script>
    <link rel="stylesheet" href="font-awesome-4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="css/music.css">
</head>
<body>
	<center>
	<div class = "play_bar">
		<i class="fa fa-step-backward step-back play_bar_item"></i>
		<i class="fa fa-play-circle-o play_bar_item"></i>
		<i class="fa fa-step-forward step-forwards play_bar_item"></i>
	</div>
	</center>
	<div class = "directory_list" id = "music_list"></div>
</body>
